# IDE files
.idea
.vscode

# Node dependencies
node_modules

# Nx cache
.nx

# Build output
dist

# Temp files
tmp

# Database files
db

certs

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes